* {
    box-sizing: border-box;
}

header {
    position: relative;
    top: 0;
    width: 100%;
    background-color: green;
    margin-bottom: 50px;
    text-align: center;
}

/* .upload {
    background-color: red;
    z-index: -1;
    position: absolute;
    bottom: -40px;
} */

.hidden {
    opacity: 0;
}

.emptyMessage {
    text-align: center;
}

.loadBtn {
    display: flex;
    justify-content: center;
    background-color: green;
}

.imgWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 0 auto;
}

.image {
    margin: 5px;
    padding: 5px;
    /* border: 1px solid green; */
}

.image img {
    object-fit: cover;
    width: 300px;
    height: 250px;
    border: 1px solid #000;
    margin: 10px 0;
}
/* 
.image-card:hover {
    opacity: 0.5;
} */

.image-card {
    position: relative;
}

.imgTitle {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 25px;
    margin: 10px 0;
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(50, 47, 47, 0.5);
    transition: opacity 0.3s ease;
    color: #fafafa;
    /* font-weight: bold; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    position: relative;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 19, 19, 0.5);
}

.modalBg {
    background-color: rgba(102, 115, 255, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.modal li {
    list-style-type: none;
}

.detailWrapper {
    max-width: 80%;
    max-height: 80%;
    width: 100%;
    height: 100%;
    background-color: lightcoral;
    display: flex;
    background-color: lightcoral;
    overflow: scroll;
}

.imgDetail {
    object-fit: contain;
    overflow: scroll;
    /* margin: 20px auto; */
    background-color: black;
    /* width: 60%; */
    /* height: 100%; */
    padding: 20px;
    /* max-height: 90%; */
}

.imgDetail img {
    height: 100%;
    width: 100%;
}

.nextBtn {
    align-self: center;
    width: 50px;
    height: 50px;
    margin: 0 20px;
    transition: transform 0.3s ease;
}

.nextBtn:hover {
    transform: scale(1.2);
}

.prevBtn {
    align-self: center;
    width: 50px;
    height: 50px;
    margin: 0 20px;
    transition: transform 0.3s ease;
}

.prevBtn:hover {
    transform: scale(1.2);
}

.closeBtn {
    position: absolute;
    right: 0;
    top: 0;
}

#uploadBtn {
    display: inline;
}

button {
    display: block;
}
