* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
    background-color: rgb(89, 226, 228);
    border: none;
    color: #fafafa;
    padding: 5px 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

button {
    background-color: rgb(89, 226, 228);
    border: #fafafa;
    color: #fafafa;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}

button:hover {
    background-color: aqua;
}

header {
    position: relative;
    top: 0;
    width: 100%;
    background-color: aliceblue;
    color: darkslateblue;
    margin-bottom: 50px;
    text-align: center;
}

/* .upload {
    background-color: red;
    z-index: -1;
    position: absolute;
    bottom: -40px;
} */

.hidden {
    opacity: 0;
}

.emptyMessage {
    text-align: center;
    color: darkslateblue;
}

.loadBtn {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    color: darkslateblue;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.imgWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 0 auto;
}

.image {
    margin: 5px;
    padding: 5px;
    /* border: 1px solid green; */
}

.image img {
    object-fit: cover;
    width: 300px;
    height: 250px;
    border: 1px solid #000;
    margin: 10px 0;
}
/* 
.image-card:hover {
    opacity: 0.5;
} */

.image-card {
    position: relative;
}

.imgTitle {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 25px;
    margin: 10px 0;
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(50, 47, 47, 0.5);
    transition: opacity 0.3s ease;
    color: #fafafa;
    /* font-weight: bold; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    position: relative;
    height: 95vh;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 19, 19, 0.5); */
}

.modalBg {
    background-color: rgba(102, 115, 255, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.modal li {
    list-style-type: none;
}

.detailWrapper {
    max-width: 80%;
    max-height: 80%;
    min-width: 0;
    /* background-color: rgb(255, 247, 247); */
    display: flex;
    justify-content: center;
}

.imgDetail {
    box-sizing: border-box;
    border-right: 4px solid rgb(79, 79, 79);
    max-width: 100%;
    max-height: 100%;
    min-width: 0;
    background-color: #fafafa;
}

.imgDetail img {
    max-height: 100%;
    height: 100%;
    width: 100%;
    min-width: 0;
    object-fit: contain;
    object-position: center;
}

.comment-box {
    flex: 0 0 30%;
    padding: 20px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment-box header {
    margin: 2px 2px;
    line-height: 1.2rem;
}

.comment-box form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-top: 5px;
    padding: 5px;
}

.comment-box form input {
    margin: 5px;
}

.comments {
    overflow: auto;
}

.comment {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border: 1px solid gray;
    padding: 5px;
    margin: 10px;
}

.comment-text {
    margin: 5px;
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.comment-date {
    align-self: flex-end;
    font-size: 0.8rem;
}

.nextBtn {
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    margin: 0 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.nextBtn:hover {
    transform: scale(1.2);
}

.prevBtn {
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    margin: 0 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.prevBtn:hover {
    transform: scale(1.2);
}

.closeBtn {
    position: absolute;
    right: 0;
    top: 0;
}

#uploadBtn {
    display: inline;
}

button {
    display: block;
}
