* {
    box-sizing: border-box;
}

.imgWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.image {
    margin: 5px;
    padding: 5px;
    border: 1px solid green;
}

.image img {
    object-fit: cover;
    width: 300px;
    height: 250px;
    border: 1px solid #000;
    margin: 10px 0;
}

.imgTitle {
    padding: 0;
    margin: 0;
}

main {
    position: relative;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeBtn {
    position: absolute;
    right: 0;
    top: 0;
}
